/* This File Contains All Responsive CSS - Sweet! */

/* Custom Drop-Down
================================================== */

#masternav .selector option {
    background: #eee;
    -webkit-appearance: none;
    padding: 5px;
}

#masternav .selector,
#masternav .selector span {
    cursor: pointer !important;
    background: url("../images/nav-down.png") 98% center no-repeat;
    -webkit-font-smoothing: antialiased;
}

#masternav .selector,
#masternav .selector * {
    margin: 0;
    padding: 0;
}

#masternav .selector select {
    top: 0px;
    left: 0px;
}

#masternav .selector {
    width: 97%;
    font-size: 12px;
    font-weight: bold;
}

#masternav .selector span {
    cursor: pointer;
}

#masternav .selector {
    height: 30px;
    line-height: 30px;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

#masternav .selector select:focus {
    outline: 0;
}

#masternav .selector {
    position: relative;
    padding-left: 10px;
    overflow: hidden;
}

#masternav .selector span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#masternav .selector select {
    position: absolute;
    height: 35px;
    background: none;
    width: 97%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: 0 !important;
}

/* General
================================================== */

.post figure img {
    max-width: 100%;
}

img {
    max-width: 100%;
}

#logo img {
    max-width: 100%;
}

/*hide redundant menu*/

#masternav select {
    display: none;
    width: 100% !important;
}

#masternav .selector {
    display: none;
    margin-top: 5px;
}

/*hide redundant portfolio items*/

.home-projects-responsive {
    display: none;
}

/* Apply To All Responsive Layouts
================================================== */

@media only screen and (device-width: 768px) {
    #home-tagline {
        font-size: 14px;
    }
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 740px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    /*hide stuff*/
    .toplink {
        display: none !important;
    }
    #wrapper,
    .content-slider .slides_container {
        width: 716px;
    }
    .post {
        width: 450px;
    }
    .sf-menu>li>a {
        padding: 0 10px;
    }
    /*4 item grid*/
    .portfolio-item,
    .home-entry,
    .service-item,
    .staff-member,
    .gallery-photo {
        width: 164px;
    }
    /*content slider*/
    .content-slider .slides_container div.content_slide {
        width: 676px;
    }
    /*home*/
    .hp-highlight {
        width: 222px;
    }
    #home-blog-portfolio-wrap #home-portfolio {
        width: 380px;
    }
    #home-blog-portfolio-wrap #home-portfolio .portfolio-item {
        width: 170px;
    }
    #home-blog-portfolio-wrap #home-blog {
        width: 330px;
    }
    #home-blog-portfolio-wrap #home-blog .home-entry {
        width: 155px;
    }
    /*portfolio*/
    #portfolio-wrap {
        width: 760px;
    }
    #single-portfolio-left {
        width: 275px;
    }
    #single-portfolio-right {
        width: 410px;
    }
    /*footer*/
    #footer-widget-first,
    #footer-widget-second,
    #footer-widget-third,
    #footer-widget-fourth {
        width: 154px;
    }
    .surplus-flickr-widget a,
    .widget-recent-portfolio a {
        width: 39px;
        height: 39px;
    }
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    /*hide stuff*/
    .toplink {
        display: none !important;
    }
    /*display dropdown nav*/
    #masternav .selector,
    #masternav select {
        display: inline-block;
    }
    #masternav ul {
        display: none;
    }
    #masternav {
        padding: 0;
        height: 40px;
        line-height: 40px;
        float: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    /*header*/
    #headaside {
        top: 0;
    }
    /*main wrappers*/
    #wrapper,
    .content-slider .slides_container {
        width: 270px;
    }
    .post,
    #sidebar {
        float: none;
        width: 100%;
    }
    #sidebar {
        margin-top: 25px;
        padding-top: 25px;
        border-top: 4px solid #000;
    }
    /*2 item grid*/
    .portfolio-item,
    .home-entry,
    .service-item,
    .staff-member,
    .gallery-photo,
    #home-blog-portfolio-wrap #home-portfolio .portfolio-item,
    #home-blog-portfolio-wrap #home-blog .home-entry {
        width: 125px;
    }
    /*home*/
    #home-highlights {
        margin-right: 0;
    }
    .hp-highlight {
        width: 100%;
    }
    .hp-highlight-img {
        display: none;
    }
    #home-blog .home-entry {
        width: 270px;
    }
    #home-blog-portfolio-wrap #home-portfolio,
    #home-blog-portfolio-wrap #home-blog {
        width: 270px;
        float: none;
    }
    #home-blog-portfolio-wrap #home-portfolio {
        width: 290px;
    }
    /*next/prev*/
    #single-nav {
        position: inherit;
        margin-top: 15px;
        margin-left: -5px;
    }
    /*portfolio*/
    #portfolio-wrap {
        width: 290px;
    }
    .portfolio-filter {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 20px;
    }
    .portfolio-filter ul {
        left: 0;
    }
    .full-portfolio #portfolio-slides-wrap .flex-control-nav,
    .full-portfolio .flex-direction-nav li a.next,
    .full-portfolio .flex-direction-nav li a.prev {
        bottom: 25px;
    }
    #single-portfolio-left,
    #single-portfolio-right {
        width: 100%;
    }
    #single-portfolio-right {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ddd;
    }
    #thumb-swap-portfolio .swap-sub {
        width: 30px;
        height: 30px;
        margin-bottom: 7px;
    }
    #thumb-swap-portfolio .swap-sub img {
        width: 30px;
        height: 30px;
    }
    #single-portfolio-related {
        margin-right: -20px;
        margin-bottom: -20px;
        overflow: hidden;
    }
    #single-portfolio-related .heading {
        margin-right: 20px;
    }
    #single-portfolio-related .portfolio-item {
        margin-bottom: 20px;
    }
    /*blog*/
    .post-meta {
        margin-bottom: -5px;
    }
    /*staff*/
    .staff-department-wrap .staff-member:nth-child(3n+3) {
        clear: both;
    }
    /*services*/
    #services-wrap {
        margin-right: 0;
    }
    .service-item {
        width: 230px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    /*flex slider*/
    .full-slides .caption {
        display: none;
    }
    .flex-control-nav {
        display: none;
    }
    .flex-direction-nav li a.next,
    .flex-direction-nav li a.prev {
        bottom: 0;
    }
    .flex-direction-nav li a.next {
        right: 0;
    }
    .flex-direction-nav li a.prev {
        right: 20px;
    }
    /*content slider*/
    .content-slider .slides_container div.content_slide {
        width: 230px;
        padding: 0 20px;
    }
    /*shortcodes*/
    .testimonial {
        margin-bottom: 0;
    }
    .pricing-header h4 {
        font-size: 16px;
    }
    .featured-pricing .pricing-header h4 {
        font-size: 18px;
    }
    .google-map {
        overflow: hidden;
    }
    .tab-shortcode ul.ui-tabs-nav {
        border: none;
        margin: 0;
    }
    .tab-shortcode ul.ui-tabs-nav li,
    .tab-shortcode ul.ui-tabs-nav li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        border: none;
        position: inherit;
    }
    .tab-shortcode ul.ui-tabs-nav li a {
        border: 1px solid #ddd !important;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    .tab-shortcode ul.ui-tabs-nav li {
        margin-bottom: 5px;
    }
    .tab-shortcode ul.ui-tabs-nav .ui-state-active a {
        height: 29px;
        top: inherit;
        padding-top: 0;
    }
    .tab-shortcode .tab_content {
        border-top: 1px solid #ddd;
    }
    .one-half,
    .one-third,
    .one-fourth,
    .one-fifth,
    .one-sixth,
    .one-two-third,
    .one-three-fourths {
        width: 100%;
        margin: 0 0 25px;
    }
    .alert-red.alignright,
    .alert-yellow.alignright,
    .alert-green.alignright,
    .alert-blue.alignright,
    .alert-red.alignleft,
    .alert-yellow.alignleft,
    .alert-green.alignleft,
    .alert-blue.alignleft {
        width: 100%;
        margin: 25px 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    /*pricing tables*/
    .pricing-third,
    .pricing-fourth,
    .pricing-fifth {
        width: 100% !important;
    }
    .featured-pricing .pricing-header {
        margin-right: 0px;
    }
    .pricing-content {
        border: 1px solid #e0e0e0;
    }
    .featured-pricing .pricing-button {
        margin-right: 0px;
    }
    .featured-pricing .pricing-header {
        margin: 0;
        padding: 20px;
    }
    .featured-pricing {
        margin-bottom: 25px;
    }
    /*comments*/
    .children {
        margin: 30px 0 0;
    }
    .children li.depth-2,
    .children li.depth-3,
    .children li.depth-4,
    .children li.depth-5,
    .children li.depth-6,
    .children li.depth-7,
    .children li.depth-8,
    .children li.depth-9,
    .children li.depth-10 {
        margin: 0
    }
    /*footer*/
    #footer-widget-first,
    #footer-widget-second,
    #footer-widget-third,
    #footer-widget-fourth {
        width: 100%;
        margin: 0;
    }
    .surplus-flickr-widget a,
    .widget-recent-portfolio a {
        width: 45px;
        height: 45px;
    }
    #copyright,
    #footer-menu {
        width: 100%;
        text-align: center;
    }
    /*other*/
    #error-page-title {
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 25px;
    }
    #error-page-text {
        margin-top: 0;
    }
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*main wrappers*/
    #wrapper,
    .content-slider .slides_container {
        width: 430px;
    }
    /*4 item grid*/
    .portfolio-item,
    .gallery-photo,
    #home-blog-portfolio-wrap #home-portfolio .portfolio-item,
    .gallery-photo {
        width: 130px !important;
        margin-right: 20px;
    }
    /*header*/
    #headaside {
        top: 5px;
    }
    /*home*/
    #home-highlights {
        margin: 0;
    }
    #home-blog-portfolio-wrap #home-portfolio,
    #home-blog-portfolio-wrap #home-blog {
        width: 430px;
        float: none;
    }
    #home-blog-portfolio-wrap #home-portfolio {
        width: 450px;
    }
    #home-blog .home-entry {
        width: 430px !important;
    }
    #home-blog-portfolio-wrap .home-entry,
    .home-entry {
        width: 205px !important;
    }
    #home-blog-portfolio-wrap .full-entry {
        width: 100% !important;
    }
    /*content slider*/
    .content-slider .slides_container div.content_slide {
        width: 390px;
        padding: 0 20px;
    }
    /*portfolio*/
    #portfolio-wrap {
        width: 450px;
    }
    /*service item*/
    #services-wrap {
        margin-right: -20px;
    }
    .service-item {
        width: 205px;
        float: left;
        margin-left: 0;
        margin-right: 20px;
    }
    .responsive-clear {
        clear: both;
    }
    /*staff*/
    .staff-member {
        width: 205px;
    }
    /*footer*/
    #footer-widget-first,
    #footer-widget-second,
    #footer-widget-third,
    #footer-widget-fourth {
        width: 185px;
        margin-right: 20px;
    }
    #footer-widget-second,
    #footer-widget-fourth {
        margin-right: 0;
    }
    .surplus-flickr-widget a,
    .widget-recent-portfolio a {
        width: 48px;
        height: 48px;
    }
    /*other*/
    #error-page-title {
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 25px;
    }
    #error-page-text {
        margin-top: 0;
    }
}